body{
    padding-top: 56px;
};

@media (min-width: 600px) {

    body{
        padding-top: 64px;
    }  
};

@media (min-width: 0px) and (orientation: landscape){ 
    body{
        padding-top: 48px;
    }
};
