.quantityInput{
    padding: 4px 2px 0px 5px;
    margin-top: 24px;
    margin-left: 9px;
    border: 1px solid #eed7c1;
    border-radius: 4;
    position: relative;
    font-size: 16;
}

.quantityInput:focus,.quantityInput.active, .quantityInput:active, .quantityInput:focus:active , .quantityInput.hover {
    background-color: #eed7c1;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25); 
    border-color: #80bdff;
    border-radius: 4;
}

.description{
    display: flex;
    justify-content: flex-end;
}

.item-brand,.item-name, .item-color, .item-price {
    display: flex;
    justify-content: flex-start;
    margin: 4px;
    text-align: start;
    padding-bottom: 10px;
}

.item-brand{
    font: 35px Fira Sans sans-serif;
    margin: 0px;
}
.item-name {
    font: 25px Fira Sans sans-serif;
}

.item-color, .item-price {
    font: 18px Fira Sans sans-serif;
}
.item-color{
    margin-bottom: 25px;
}

.product-info{
    height: '85vh'; width: '100% ';
    display: flex;
}

.productQtySize{
    border-top: 1px solid #eed7c1;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
}

.submitButton{
    padding-top: '20px';
    display: flex;
}
.itemPopup-descript, .itemPopup-materials{
    padding-top: 5px;
    font: 18px Fira Sans sans-serif;
    margin: 5px;
}


@media only screen and (max-width: 700px) {
    .MuiGrid-grid-sm-9 {
    flex-grow: 0;
     max-width: 66.666667%;
     flex-basis: 66.666667%;
    }
}

